---
import { Icon } from "astro-icon/components";

import { ABOUTS, SUB_ABOUTS } from "@/common/constants/about";
import { Card, CardContent, CardFooter } from "@/components/ui/card";
---

<div class="lg:px-32">
  <Card
    className="grid grid-cols-2 overflow-hidden rounded-xl border-[1.5px] border-neutral-300 bg-white dark:border-primary dark:bg-dark-tertiary"
  >
    {
      ABOUTS.map((item) => {
        return (
          <CardContent className="pt-6 lg:px-20">
            <div class="relative flex w-fit rounded-full border-[1.5px] border-neutral-400 p-0.5 dark:border-primary">
              <div class="-tranneutral-x-1/2 absolute -top-12 left-1/2 h-12 border-r-[1.5px] border-neutral-300 dark:border-primary" />
              <div class="rounded-full bg-neutral-800 p-[3px] text-neutral-50 dark:bg-dark-secondary ">
                <Icon name={item.icon} />
              </div>
            </div>
            <h4 class="mt-6 text-[.5rem] font-bold uppercase tracking-[2px] text-blue-400">{item.label}</h4>
            <h4 class="mt-2 text-2xl font-semibold text-neutral-800 dark:text-neutral-50 lg:text-3xl">{item.title}</h4>
            <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">{item.description}</p>
          </CardContent>
        );
      })
    }

    <div class="col-span-2">
      <CardFooter
        className="grid grid-cols-2 gap-6 rounded-xl border-t-[1.5px] border-neutral-400 pt-6 dark:border-primary lg:grid-cols-4"
      >
        {
          SUB_ABOUTS.map((item) => (
            <div class="flex flex-col items-center justify-center gap-y-2">
              <div class="relative flex w-fit rounded-full  border-2 border-neutral-800 p-1 dark:border-dark-secondary dark:bg-dark-secondary">
                <Icon name={item.icon} />
              </div>
              <p class="text-center text-xs text-neutral-600 dark:text-neutral-300">{item.title}</p>
            </div>
          ))
        }
      </CardFooter>
    </div>
  </Card>
</div>
