---
import { FaCircleCheck } from "react-icons/fa6";
import { Icon } from "astro-icon/components";

import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { COURSES } from "@/common/constants/courses";

import Container from "../elements/Container.tsx";
import PageHeading from "../elements/PageHeading.astro";
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "../ui/card";
import BackgroundGradient from "../elements/BackgroundGradient.astro";
---

<Container
  client:idle
  data-aos="fade-up"
  isScreen
  id="courses"
  className="flex flex-col items-center justify-center gap-y-8"
>
  <BackgroundGradient className="top-0 blur-[12rem]" />
  <PageHeading>Courses</PageHeading>
  <div class="relative grid w-full grid-cols-1 items-center gap-x-72 gap-y-12 lg:grid-cols-2">
    {
      COURSES.map((course, index) => (
        <Card
          className={cn(
            "relative flex flex-col items-center justify-center rounded-3xl border-[1.5px] text-center transition duration-300 hover:scale-[1.03] dark:border-primary dark:bg-dark-tertiary",
            index === 1 && "left-1/2 z-10 -translate-x-1/2 lg:absolute lg:w-[350px]",
          )}
        >
          <div class="absolute -top-4 left-1/2 w-fit -translate-x-1/2 rounded-full border-[1.5px] border-neutral-200 bg-dark-tertiary p-1 dark:border-primary">
            <div class="rounded-full bg-neutral-700 p-3 text-neutral-50 dark:bg-dark-secondary">
              <Icon name={course.icon} />
            </div>
          </div>
          <CardHeader
            className={cn(
              "mt-11 flex items-center",
              index !== 1 && "border-b-[1.5px] border-neutral-800 dark:border-primary",
            )}
          >
            <div class="mb-4 w-fit rounded-full border-[1.5px] border-neutral-500 px-3 py-1 text-[10px] font-medium uppercase tracking-[3px] dark:border-primary ">
              {/* {course.label} */}
              test
            </div>
            <CardTitle className="text-3xl font-bold">{course.price}</CardTitle>
            <CardDescription>{course.title}</CardDescription>
          </CardHeader>
          <CardContent
            className={cn(" flex w-full justify-center p-8", index === 1 && "bg-neutral-200 dark:bg-secondary")}
          >
            <ul class="space-y-2">
              {course.advantages.map((advantage) => (
                <li class="flex items-center gap-x-4">
                  <div
                    class={cn(
                      "w-fit rounded-lg bg-neutral-700 p-1.5 text-neutral-50 dark:bg-secondary",
                      index === 1 && "dark:bg-dark-tertiary",
                    )}
                  >
                    <FaCircleCheck size={12} />
                  </div>
                  <p class="text-sm">{advantage}</p>
                </li>
              ))}
            </ul>
          </CardContent>
          <CardFooter
            className={cn(
              " flex w-full justify-center",
              index === 1 && "flex flex-col gap-y-4 rounded-b-3xl bg-neutral-200 dark:bg-secondary",
            )}
          >
            <Button
              className={cn(
                "space-x-3 rounded-lg px-3 dark:bg-secondary  dark:hover:bg-dark-secondary",
                index === 1 && "dark:bg-dark-tertiary dark:hover:bg-dark-secondary ",
              )}
            >
              <div class="rounded-md bg-neutral-900 p-1 dark:bg-dark-tertiary dark:text-neutral-50">
                <Icon name={course.icon} />
              </div>
              <p class="text-xs font-semibold dark:text-neutral-50">GET STARTED</p>
            </Button>
            {course.promotion && <p class="text-xs font-medium">- {course.promotion} -</p>}
          </CardFooter>
        </Card>
      ))
    }
  </div>
</Container>
